html {
    background-color: #fae3b9;
}


/* the code below is to create a custom navigation panel that lays horizontal, example of inline nav */
nav ul {
    list-style-type: none;
    margin: -10;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: lightsalmon;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

nav li a:hover {
    background-color: #111;
}

p {
    margin-top: 125px;
    text-indent: 1em;
    font-size: 25px;
    font-family: 'Amatic SC', cursive;
}

.familyPhoto {

    float: right;
    border: solid #2f3233 15px;
    background-color: #fae3b9;
    padding: 15px;
    margin: 25px 25px 10px 30px;
}

.mainHead, .subHead {
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.mainHead {
    font-size: 48px;
}

.subHead {
    font-size: 24px;
}
.clear {
    text-align: center;
}

.homeworkNav {

    margin-top: -25px;
    margin-left: -10px
}